<h1>Movies list</h1>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Year</th>
    <th>Open</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td> <%= movie.id %> </td>
      <td> <%= movie.name %> </td>
      <td> <%= movie.year %> </td>
      <td> <%= link_to('Open', movie_path(movie)) %> </td>
    </tr>
  <% end %>
</table>


<%== pagy_nav(@pagy) %>
